<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cash flow</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" media="screen" href="/webjars/ionicons/2.0.1/css/ionicons.min.css">

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>

    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <style>
        .block {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }

        .column {
            flex: 20%;
            max-width: 100%;
            padding: 0 4px;
        }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }

        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }
    </style>
</head>
<body>
<script type='text/javascript' src='/webjars/knockout/3.4.2/dist/knockout.js'></script>


<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <form id="categories">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="amount">Amount</label><input type="number" data-bind="value: amount" class="form-control text-md-right" min="0" id="amount">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="block">
                            <div class="column" data-bind="foreach: categories">
                                <button type="button" data-bind="click: btnCategory"><img src="#" data-toggle="tooltip" data-placement="top" data-bind="attr: { src: urlImage, title: name }" width="32"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="cash_flow">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col" class="ion-image"></th>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-md-block">Description</th>
                    <th scope="col" class="ion-cash"></th>
                    <th scope="col" class="ion-bag "></th>
                    <th scope="col" class="ion-compose"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: flows" class="text-center">
                <tr>
                    <td scope="row"><img src="#" alt="image" width="32" data-bind="attr: { src: category.urlImage }"></td>
                    <td data-bind="text: category.name" class="text-left">Shop</td>
                    <td data-bind="text: description" class="d-none d-md-block text-left">Weekly shopping</td>
                    <td data-bind="attr: { class: category.operation == 1 ? 'ion-plus-circled' : 'ion-minus-circled' }"></td>
                    <td>
                        <span data-bind="text: category.currency.name" class="left"></span>:
                        <!-- ko if: category.currency.name == 'VND' -->
                        <span data-bind="text: amount" class="text-right"></span>
                        <!-- /ko -->
                        <!-- ko if: category.currency.name != 'VND' -->
                        <span data-bind="text: amountOrigin" class="text-right"></span>
                        <!-- /ko -->
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle ion-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button" data-bind="click: btnEditFlow"><span class="ion-edit"></span> Edit</button>
                                <button class="dropdown-item" type="button" data-bind="click: btnDeleteFlow"><span class="ion-trash-a"></span> Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    ko.applyBindings(function () {
        var self = this;
        self.flows = ko.observableArray();

        self.amount = ko.observable();
        self.amountOrigin = ko.observable();
        self.categories = ko.observableArray();

        self.btnEditFlow = function(flow) {
            console.table(flow);
        };
        self.btnDeleteFlow = function(flow) {
            console.table(flow);
        };

        self.btnCategory = function (category) {
            var amount = self.amount();
            var amountOrigin = self.amount();
            if (category.currency.name !== 'VND') {
                amount = amount * 22600;
            }
            var flow = {
                'description': category.name,
                'category': category,
                'amount': amount,
                'amountOrigin': amountOrigin
            };


            $.ajax({
                    url: "/rest/cash_flow/",
                    type: "POST",
                    data: JSON.stringify(flow),
                    contentType: "application/json; charset=utf-8",
                    success: function (updated) {
                        self.flows.unshift(updated);
                        self.amount('');
                    }
                }
            );

        }

    });

    self.update = function(data) {
        self.flows(data);
    };

    $.get("/rest/cash_flow", function (data) {
        self.update(data);
    });

    $.get("/rest/category", function (data) {
        self.categories(data);
    });

</script>

</body>