<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cash flow</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" media="screen" href="/webjars/ionicons/2.0.1/css/ionicons.min.css">

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>

    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

    <script src="/webjars/highcharts/6.1.0/highcharts.js"></script>
    <script src="/webjars/highcharts/6.1.0/modules/exporting.js"></script>
    <script src="/webjars/highcharts/6.1.0/modules/export-data.js"></script>

    <style>
        .block {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }

        .column {
            flex: 20%;
            max-width: 100%;
            padding: 0 4px;
        }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }

        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }
    </style>
</head>
<body>
<script type='text/javascript' src='/webjars/knockout/3.4.2/dist/knockout.js'></script>

<script type='text/javascript' th:inline="javascript">
    /*<![CDATA[*/
    var config = /*[[${config}]]*/ [];

    /*]]>*/
</script>


<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <form id="categories">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="amount">Amount</label><input type="number" data-bind="value: amount" class="form-control text-md-right" min="0" id="amount">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="block">
                            <div class="column" data-bind="foreach: categories">
                                <button type="button" data-bind="click: btnCategory"><img src="#" data-toggle="tooltip" data-placement="top" data-bind="attr: { src: urlImage, title: name }" width="32"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="cash_flow">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col" class="ion-image"></th>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-md-block">Description</th>
                    <th scope="col" class="ion-cash"></th>
                    <th scope="col" class="ion-bag "></th>
                    <th scope="col" class="ion-compose"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: flows" class="text-center">
                <tr>
                    <td scope="row"><img src="#" alt="image" width="32" data-bind="attr: { src: category.urlImage }"></td>
                    <td data-bind="text: category.name" class="text-left">Shop</td>
                    <td data-bind="text: description" class="d-none d-md-block text-left">Weekly shopping</td>
                    <td data-bind="attr: { class: category.operation == 1 ? 'ion-plus-circled' : 'ion-minus-circled' }"></td>
                    <td>
                        <span data-bind="text: category.currency.name" class="left"></span>:
                        <!-- ko if: category.currency.name == config.defaultCurrency -->
                        <span data-bind="text: amount" class="text-right"></span>
                        <!-- /ko -->
                        <!-- ko if: category.currency.name != config.defaultCurrency -->
                        <span data-bind="text: amountOrigin" class="text-right"></span>
                        <!-- /ko -->
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle ion-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button" data-bind="click: btnEditFlow"><span class="ion-edit"></span> Edit</button>
                                <button class="dropdown-item" type="button" data-bind="click: btnDeleteFlow"><span class="ion-trash-a"></span> Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1 text-center">
        <!-- pageable -->
            <nav aria-label="flow navigation">
                <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item" data-bind="css: { disabled: first }, click: btnFirstPage">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <!-- ko foreach: pages -->
                    <li class="page-item" data-bind="css: { active: $data }">
                        <a class="page-link" href="#" data-bind="text: $index()+1, click: function() { btnPage($index()); }"></a>
                    </li>
                    <!-- /ko -->
                    <li class="page-item" data-bind="css: { disabled : last }, click: btnLastPage">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


<script type="text/javascript">
    ko.applyBindings(function () {
        var self = this;

        self.size = 10;
        self.totalPages = 0;

        self.flows = ko.observableArray();

        self.amount = ko.observable();
        self.amountOrigin = ko.observable();
        self.categories = ko.observableArray();
        self.curPage = ko.observable(0);
        self.first = ko.observable(false);
        self.last = ko.observable(false);
        self.pages = ko.observableArray();

        self.btnEditFlow = function(flow) {
            console.table(flow);
        };
        self.btnDeleteFlow = function(flow) {
            $.ajax({
                url: '/rest/cash_flow/' + flow.id, type: "DELETE",
                success: function () {
                    self.getPage(self.curPage());
                }
            });
        };

        self.btnCategory = function (category) {
            var amount = self.amount();
            var amountOrigin = self.amount();
            if (category.currency.name !== 'VND') {
                amount = amount * 22600;
            }
            var flow = {
                'description': category.name,
                'category': category,
                'amount': amount,
                'amountOrigin': amountOrigin
            };

            $.ajax({
                    url: "/rest/cash_flow/",
                    type: "POST",
                    data: JSON.stringify(flow),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        self.amount('');
                        self.getPage(self.curPage());
                        /*
                        if (false === self.first()) {
                            self.getPage(self.curPage());
                        } else {
                            self.flows.unshift(updated);
                            if (self.flows().length > self.size) {
                                self.flows.pop();
                            }
                            self.amount('');
                        }*/
                    }
                }
            );

        };

        self.btnFirstPage = function() {
            self.getPage(0);
        };

        self.btnLastPage = function() {
            self.getPage(self.totalPages - 1);
        };

        self.btnPage = function (page) {
            self.getPage(page);
        };

        self.getPage = function(page) {
            $.get("/rest/cash_flow?page="+page+"&size="+self.size, function (data) {
                self.update(data);
            });
        };

        self.update = function(data) {
            self.curPage(data.number);
            self.flows(data.content);
            self.first(data.first);
            self.last(data.last);
            var pages = new Array(data.totalPages);
            pages[data.number] = true;
            self.pages(pages);
        };

        self.getPage(0);
    });

    $.get("/rest/category", function (data) {
        self.categories(data);
    });

</script>

    <div class="row">
        <div class="col-md-12">
            <div id="pieChartDay"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="pieChartWeek"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="pieChartMonth"></div>
        </div>
    </div>

<script type="text/javascript">

    var fnDiagram = function(period, element) {
        // Build the chart
        $.get("/rest/cash_flow/report/pie/" + period, function (data) {
            var pieData = [];

            var total = 0;
            data.forEach(function (item) {
                pieData.push({name: item.name, y: item.amount})
                total += item.amount;
            });

            Highcharts.chart(element, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Money flow for ' + period +  ': ' + total + " VND"
                },
                tooltip: {
                    pointFormat: '<b>{point.y:.1f} VND / {point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Categories',
                    colorByPoint: true,
                    data: pieData
                }]
            });
        });
    };

    fnDiagram('day', 'pieChartDay');
    fnDiagram('week', 'pieChartWeek');
    fnDiagram('month', 'pieChartMonth');
</script>
</div>

</body>
